.footer {
  bottom: 0;
  background-color: var(--lighther-gray);
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer__information {
  padding: 10px;
  border-bottom: 1px solid var(--medium-gray);
  width: 100%;
}

.footer__information > p {
  font-size: 1rem;
  font-style: italic;
}

.footer__socialmedia {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
}

.footer__socialmedia-icon {
  color: var(--darker-gray);
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30px;
}
