@media (min-width: 760px) {

  .footer {
    flex-direction: row;
  }

  .footer__information {
    width: 50%;
  }

  .footer__socialmedia {
    width: 50%;
  }

  .footer__information > p {
    font-size: 1.3rem;
  }

}