/* header {
  background-color: yellow;
  height: 50px;
  position: fixed;
  width: 100%;
} */

main {
  background-color: blueviolet;
  height: 100vh;
  padding: 3px;
  position: fixed;
  top: 50px;
}

/* footer {
  bottom: 0;
  background-color: aqua;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
} */